# Generated and machine-local files
.config/btop/themes/matugen.theme
.config/gtk-3.0/gtk.css
.config/gtk-4.0/colors.css
.config/hypr/matugen.lua
.config/hypr/matugen.conf
.config/kitty/matugen.conf
.config/kitty/current-theme.conf
.config/nvim/matugen.lua
.config/qt5ct/colors/matugen.conf
.config/qt6ct/colors/matugen.conf
.config/starship.toml
.config/swaync/matugen.css
.config/swayosd/matugen.css
.config/waypaper/config.ini
.config/wlogout/matugen.css
.config/zed/themes/matugen.json
.config/zellij/themes/matugen.kdl
.config/dotfiles/machine.lua
.config/dotfiles/git.conf
.config/dotfiles/scripts/gs_zipline_conf.sh
.config/fish/functions/fish_prompt.fish
.config/fish/fish_variables
