[Settings]
folder = ~/.config/dotfiles/wallpapers
wallpaper = ~/.config/dotfiles/wallpapers/red-sun-temple.jpeg
post_command = matugen image "$wallpaper" --source-color-index 0 && pkill -SIGUSR1 waypaper
backend = none
