@import "matugen.css";

* {
    font-family: "DejaVuSansM Nerd Font";
    font-size: 16px;
    min-height: 0;
    min-width: 0;
}

window#waybar {
    background-color: @background;
}

#workspaces {
    margin-left: 5px;
}

#workspaces button {
    color: @on_surface_variant;
    margin-right: 6px;
    margin-left: 6px;
    padding-right: 6px;
    padding-left: 6px;
}

#workspaces button:hover {
    color: @on_primary_container;
    background-color: @primary_container;
}

#workspaces button.active {
    color: @primary;
}

#custom-launcher {
    color: @primary;
    margin-left: 1em;
}

#custom-separator {
    color: @outline;
    margin-left: 6px;
    margin-right: 6px;
}

#clock {
    color: @on_background;
    margin-right: 8px;
}

#custom-power {
    font-size: 18px;
    padding-right: 1.5em;
    color: @error;
}

#custom-notifications {
    font-size: 18px;
    padding: 0.5em;
    color: @on_background;
}
#bluetooth {
    color: @on_background;
}

#network {
    color: @on_background;
    padding: 0.5em;
}

#pulseaudio {
    color: @on_background;
    padding: 0.5em;
}

#backlight {
    color: @on_background;
    padding: 0.5em;
}

#battery {
    color: @on_background;
    padding: 0.5em;
}

#tray {
    margin-right: 8px;
}

#battery.critical:not(.charging) {
    color: @on_background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @error;
    }
}
