@import "matugen.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 14px;
    min-height: 0;
    min-width: 0;
}

window#waybar {
  background: transparent;
}

window#waybar > box {
  margin: 7px 6px 0 6px;
  padding: 1px 0;
  background-color: @background;
  border-radius: 12px;
  border: 2px solid @outline;
  opacity: 0.97;
}

tooltip {
  background: @background;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: @outline;
}

#clock,
#custom-power,
#custom-notifications,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#workspaces,
#custom-launcher,
#battery {
    min-height: 0;
    min-width: 0;
    border: none;
    background: transparent;
    opacity: 1;
    padding: 0px 2px;
    margin: 0px 3px;
}

#workspaces button {
    color: @on_surface_variant;
    margin-right: 6px;
    margin-left: 6px;
    padding-right: 6px;
    padding-left: 6px;
}

#workspaces button:hover {
    color: @on_primary_container;
    background-color: @primary_container;
}

#workspaces button.active {
    color: @primary;
}

#custom-launcher {
    color: @primary;
    margin-left: 1em;
}

#clock {
    color: @on_background;
    margin-right: 12px;
}

#custom-power {
    padding-right: 1.5em;
    color: @error;
}

#custom-notifications {
    margin-left: 1em;
    padding: 0.5em;
    color: @on_background;
}
#bluetooth {
    color: @on_background;
}

#network {
    color: @on_background;
    padding: 0.5em;
}

#pulseaudio {
    color: @on_background;
    padding: 0.5em;
}

#backlight {
    color: @on_background;
    padding: 0.5em;
}

#battery {
    color: @on_background;
    padding: 0.5em;
}

#tray {
  padding: 0 6px;
}

#tray menu {
  border-radius: 10px;
  background: @background;
}

#tray menu menuitem {
  border-radius: 8px;
}

#tray menu menuitem:hover {
  background-color: @selected;
}

#battery.critical:not(.charging) {
    color: @on_background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @error;
    }
}
