 @import url("./matugen.css");

* {
    background-image: none;
    box-shadow: none;
    font-family: "Inter Bold", sans-serif;
    font-size: 1.2rem;
}

window {
    background-color: alpha(@scrim, 0.85);
}

button {
    background-color: @surface_container;
    color: @on_surface;
    border: 1px solid @outline_variant;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

button:focus,
button:active {
    background-color: @primary;
    color: @on_primary;
    outline-style: none;
    border: 1px solid @primary;
}

button:hover {
    background-color: @surface_container_highest;
    color: @on_surface;
    outline-style: none;
}

/* ----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
